body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
    font-family: "BeVietnamPro";
} 

.icon {
    background-image: url(contact-form-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 3px solid red; */
    width: 160px;
    height: 21px;
    position: relative;
    margin-left: 19px;
    margin-top: 19px;
}

.bg-svg {
    background-image: url(bg-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

@font-face {
    font-family: "BeVietnamPro";
    src: url("BeVietnamPro-Regular.ttf") format("truetype") ;
    font-weight: normal;
    font-style: normal;
}

p {
    color: #FFFFFF;
    text-align: center;
}

span.head {
    font-size: 2rem;
    font-weight: bold;
    /* border: 3px solid red; */
    width: 300px;
    height: 82px;
    display: inline-block;
    margin-top: 8px;
}

span.instruction {
    font-size: 0.85rem;
    /* border: 3px solid red; */
    display: inline-block;
    width: 300px;
    height: 40px;
    margin-top: -8px;
}

.form-area {
    background-color: #cdd5e06a;
    position: relative;
    margin: auto;
    width: 92%;
    height: 565px;
    border-radius: 20px;
    margin-top: 50px;
}

label {
    display: block; 
    margin-bottom: 5px; 
    text-align: left;
}

.name {
    position: relative;
    font-size: 0.7rem;
    color: #FFFFFF;
    margin: auto;
    width: 85%;
    bottom: -30px;
    margin-bottom: 20px;
}

:placeholder-shown {
    color: #8b919a;
}

#name-input {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    font-size: 0.7rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: #F8FAFC;
    font-family: "BeVietnamPro";
    display: inline-block;
    box-sizing: border-box;
}

.email {
    position: relative;
    font-size: 0.7rem;
    color: #FFFFFF;
    margin: auto;
    width: 85%;
    bottom: -30px;
}

#email-input {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    font-size: 0.7rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: #F8FAFC;
    font-family: "BeVietnamPro";
    display: inline-block;
    box-sizing: border-box;
}

.space-beneath {
    width: 100%;
    height: 34px;
    position: relative;
}